---
layout: default
title: "Events"
fix-navigation: "true"
---

<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
                <h3 class="section-subheading text-muted">All Upcoming and Past Concerts</h3>
            </div>
        </div>
        {% assign today = 'now' | date:'%Y-%m-%d' %}
        {% assign sorted_events = site.data.events | sort: 'date' | reverse %}

        <!-- Upcoming Events -->
        {% for event in sorted_events %}
          {% if event.date >= today %}
            {% if forloop.first %}
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <h4>Upcoming</h4>
                </div>
              </div>
            {% endif %}
            <div class="row event">
              <div class="col-sm-1 col-sm-offset-2">
                <span class="event-date">{{ event.date | date:'%b %d' }}</span><br>
                <span class="event-date">{{ event.date | date:'%Y' }}</span>
              </div>
              <div class="col-sm-5">
                <span class="event-title">{{ event.title }}</span><br>
                <p class="event-caption">{{ event.caption }}</p></div>
              <div class="col-sm-2">
                {{ event.location }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <!-- Past Events -->
        {% assign sorted_events_by_year = sorted_events | group_by:"year" %}
        {% for group in sorted_events_by_year %}
          {% for event in group.items %}
            {% if event.date < today %}
              {% if forloop.first %}
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h4>{{ group.name }}</h4>
                  </div>
                </div>
              {% endif %}
              <div class="row event">
                <div class="col-sm-1 col-sm-offset-2">
                  <span class="event-date">{{ event.date | date:'%b %d' }}</span><br>
                  <span class="event-date">{{ event.date | date:'%Y' }}</span>
                </div>
                <div class="col-sm-5">
                  <span class="event-title">{{ event.title }}</span><br>
                  <p class="event-caption">{{ event.caption }}</p></div>
                <div class="col-sm-2">
                  {{ event.location }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
        {% if page.path == 'events.html' %}
        <div class="row" style="margin-top:40px">
          <div class="col-sm-8 col-sm-offset-2">
            <h4></h4>
            <ul>
              <li>Performed in "Spirit of Youth" and "HCL Concert Series" at The Music Academy, Chennai</li>
              <li>Performing at major organizations in Chennai during the December Music Festival that include Sri Krishna Gana Sabha, Kartik Fine Arts, The Mylapore Fine Arts Club, The Indian Fine Arts Society, Brahma Gana Sabha, Carnatica, Sri Parthasarathy Swamy Sabha, Bharatiya Vidya Bhavan, Chennai Cultural Academy Trust, Korattur Cultural Academy, Nadasudha, Kapali Fine Arts, Mudhra, Hamsavinodini, Shanmukhapriya, Maarga, Parampara, Hamsadhwani, Asthika Samajam and Sivan Fine Arts Academy</li>
              <li>Other performances in Chennai include concerts in Gokulashtami Sangeetha Utsavam at Sri Krishna Gana Sabha, Navaratri Festival at Bharatiya Vidya Bhavan, Sarvani Sangeetha Sabha, Sri Thyagaraja Sangeetha Vidwath Samajam, Nadopasana, SAFE (Shanti Arts Foundation and Endowments)</li>
              <li>Performed extensively at music organizations across India that include Sri Rama Seva Mandali (Bangalore), Shanmukhananda Fine Arts and Sangeetha Sabha (Mumbai), Nadopasana (Irinjalakuda, Kerala), Sruthi Arts Academy (Madurai), Sangeetha Parishad (Mangalore), Andhra Music Academy (Hyderabad), Kalasagaram (Secunderabad), Visakha Music Academy (Visakhapatnam), Saraswati Gana Sabha (Kakinada) among others</li>
              <li>Performed in Naada Neerajanam at Tirupati telecast on SVBC TTD channel several times</li>
              <li>Performed at organizations in Canada and the US including Bharathi Kala Manram (Toronto), Maduradhvani (Toronto), Bharatiya Sangeetha Sangham (Montreal), Alberta Cultural Talent Showcase (Edmonton), Shruti Laya (New York), SR Fine Arts (San Jose), Hamsadhwani Carnatic Music Academy (Los Angeles)</li>  
            </ul>
          </div>
        </div>
        {% endif %}
    </div>
</section>
