<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="team-member">
                <img src="/assets/img/about-profile.jpg" class="img-responsive img-circle" alt="Kamala Deepthi">
            </div>
          </div>
          <div class="col-md-9 text-left">
              <p class="text-muted">Kamala Deepthi had her initial training in Carnatic Music from Smt. Pappu Padma Ravi Shankar. Later, she learnt from the eminent musician Dr. Smt. Pantula Rama. Presently, she is under the tutelage of the legendary musician "Padmabhushan" "Sangeetha Kalanidhi" Madurai Sri T. N. Seshagopalan.<p>

              <p class="text-muted">She is a young and promising Carnatic vocalist with high caliber known for lengthy breathtaking phrases while singing Raga Alapana and calculations with contrasting laya patterns while singing Swara Kalpana, both hallmark of her guru Sri Seshagopalan's style of singing.<p>

              <p class="text-muted">She has been enthralling music connoisseurs with her mellifluous voice and chaste music. She has won <a class="page-scroll" href="#achievements">numerous prizes and awards</a> from organizations across India from a very young age.<p>

              <p class="text-muted">She has <a href="/reviews">many reviews and articles</a> to her credit in various newspapers and magazines that include "The Hindu", "Indian Express", "Deccan Chronicle", "Ganakala" and "Mahathi" among others. She received critical acclaim for her concerts from music stalwarts on multiple occasions.<p>
              </p>
          </div>
        </div>
    </div>
</section>
