<!-- Achievements Section -->
<section id="achievements" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Achievements</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <h3 id="major-accomplishments">MAJOR ACCOMPLISHMENTS</h3>
            <ul class="text-muted">
              <li>Obtained A-grade from All India Radio in Carnatic Vocal music at the age of 23</li>
              <li>Performed in AIR National Programme of Music broadcast across all stations in India in April 2015</li>
              <li>Performed in South Zone Hook Up Programme telecast across all four South Indian Doordarshan channels in February 2015</li>
              <li>Awarded the title “Sangeetha Sironmani” by Sri Varasiththi Vinayagar Hindu Temple of Toronto, Canada</li>
              <li>Awarded the title “Carnatic Idol 2007” by Carnatica, Chennai</li>
              <li>Awarded Sri Voleti Venkateswarulu Award and Sri Yagnaraman Felicitation Endowment Prize by Sri Krishna Gana Sabha for merit worthy performances during Gokulashtami festivals</li>
              <li>Received prizes in Ragam-Tanam-Pallavi from Shanthi Arts Foundation and Endowments, Chennai and Rasika Ranjani Sabha, Trichy</li>
            </ul>

            <h3 id="awards-and-prizes">AWARDS AND PRIZES</h3>
            <ul class="text-muted">
              <li>Received “Artiste of distinction” award from Visakha Music Academy which was presented by Dr.M.Balamuralikrishna</li>
              <li>Awarded gold medal by Sri Vijaya Thyagaraja Sangeetha Sabha, Visakhapatnam</li>
              <li>Received the prestigious Prof. Seshachari Memorial Tambura prize from Kalasagaram, Secunderabad</li>
              <li>Received Tambura prize for being selected in the best 10 concerts out of 150 concerts conducted by VDS Arts Academy, Chennai</li>
              <li>Received 1st prize in state level music competitions conducted by Youth Services Department, Government of Andhra Pradesh</li>
              <li>Received 12 prizes in various competitions conducted by Rasika Ranjani Sabha, Trichy including 1st prize in Ragam-Tanam-Pallavi competition</li>
              <li>Received 1st prize in inter-collegiate youth festival conducted by Andhra University for three consecutive years</li>
            </ul>
          </div>
        </div>
    </div>
</section>
