<!-- Portfolio Grid Section -->
<section id="gallery" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
                <ul id="filters" class="section-subheading clearfix">
                  <li><span class="filter" data-filter=".photo">Photos</span></li>
                  <li><span class="filter" data-filter=".video">Videos</span></li>
                </ul>
            </div>
        </div>
        <div id="portfoliolist">
          <!-- Photo Section -->
          {% flickr_set 72157691773361970 %}

          <!-- Video Section -->
          {% assign videos = site.data.videos | sort: 'date' | reverse %}
          {% for video in videos limit:8 %}
            <div class="portfolio video" data-cat="video">
              <div class="portfolio-wrapper">
                <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_blank">
                  <img src="https://img.youtube.com/vi/{{ video.id }}/mqdefault.jpg" alt="" />
                </a>
                <div class="label">
                  <div class="label-text">
                    <span class="text-title text-center">{{ video.title }}</span>
                    <span class="text-category">{{ video.date | date:"%b %d, %Y" }}</span>
                  </div>
                  <div class="label-bg"></div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>

</section>
