    <!-- Portfolio Modals -->
    {% assign sorted_photos = site.data.images | sort:"date" | reverse %}

    {% for photo in sorted_photos limit:8 %}
    <!-- Portfolio Modal {{ project.order }} -->
    <div class="portfolio-modal modal fade" id="{{ forloop.index0 }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <img class="img-responsive img-centered" src="{{ photo.image_url }}" alt="{{ photo.title }}">
                                <p class="item-intro text-muted">{{ photo.title }} &bull; {{ photo.date | date: "%B %d, %Y" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
