<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top" class="index">
{% include nav.html fix-navigation="true" %}

<section id="post">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">{{ page.title }}</h2>
                <h3 class="section-subheading text-muted">{{ page.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-left">
            {{ content }}
          </div>
        </div>
    </div>
</section>

{% include footer.html %}

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/assets/js/jqBootstrapValidation.js"></script>
<script src="/assets/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/assets/js/agency.js"></script>

</body>

</html>
